/* Advantages-section */
.advantages {
  margin-bottom: 24px;
  max-width: 1170px;
  &__text {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    flex-basis: calc((100% - 60px) / 3);
  }
  &__label {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    height: 70px;
    bottom: 70px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--white-color);
    background: rgba(47, 48, 58, 0.8);
  }
}

.secondary-title {
  font-size: var(--font-size-h2);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-second-title);
  color: var();
  text-align: center;
  padding-top: 94px;
  padding-bottom: 50px;
  text-align: center;
}

/* Stiluri pentru tableta */
@media screen and (max-width: $tablet-breakpoint) {
}

/* Stiluri pentru desktop */
@media screen and (max-width: $desktop-breakpoint) {
  /* Advantages-section */
  .advantages {
    margin-bottom: 24px;
    max-width: 1170px;
    &__text {
      display: flex;
      justify-content: space-between;
    }
    &__item {
      flex-basis: calc((100% - 60px) / 3);
    }
    &__label {
      display: flex;
      justify-content: space-around;
      align-items: center;
      position: relative;
      height: 70px;
      bottom: 70px;
      font-weight: 700;
      text-transform: uppercase;
      color: var(--white-color);
      background: rgba(47, 48, 58, 0.8);
    }
  }

  .secondary-title {
    font-size: var(--font-size-h2);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-second-title);
    color: var();
    text-align: center;
    padding-top: 94px;
    padding-bottom: 50px;
    text-align: center;
  }
}
